{{ define "header" }}
<header class="site-header">
  {{ partial "navigation.html" . }}
</header>
{{ end }}

{{ define "main" }}
<main class="site-main container-fluid pt-5">
  <div class="m-4">
    <div class="row">
      {{ range ((where .Site.RegularPages "Section" "portfolio").GroupByDate "2006") }}
      {{ range .Pages }}
      {{- $post := . }}
      <div class="col-6 px-0">
        <a href="{{ .Params.link }}" class="card-hover">
          <div class="card text-black">
            <div
              style="background-image: url('{{ partial `asset_url.html` (dict `folder` $post.RelPermalink `asset` $post.Params.image) }}'); background-position: 50% 50%; background-size: cover; overflow: hidden; height: 0; padding-top: 56.25%;">
            </div>
            <div class="card-img-overlay d-flex justify-content-center align-items-center" style="opacity: 0;">
              <h5 class="card-title font-normal">{{ .Title }}</h5>
            </div>
          </div>
        </a>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</main>
{{ end }}