{{ define "header" }}
<header class="site-header">
  {{ partial "navigation.html" . }}
</header>
{{ end }}

{{ define "main" }}
<main class="site-main container-fluid pt-2">
  <div class="m-4">
    {{ range ((where .Site.RegularPages "Section" "posts").GroupByDate "2006") }}
    {{ range .Pages }}
    <div class="row mb-5" style="height: 80vh;">
      <div class="col-6" style="background-image: url('{{ .Params.image }}'); background-size: cover; background-repeat: no-repeat;">
      </div>
      <div class="col-6 d-flex align-items-center jusitfy-content-center mb-5 ps-5">
        <div class="font-normal">
          <p>{{ .Date | time.Format ":date_medium" }}</p>
          <h1 class="font-bold">Blogeintrag: {{ .Title }}</h1>
          <p>{{ .Description | default .Summary | truncate 120 }}</p>
          <a href="{{ .RelPermalink }}" class="continue-reading">Weiterlesen</a>
        </div>
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</main>
{{ end }}