{{ define "head_meta_includes" -}}
{{ $posts := where (where .Site.RegularPages "Section" "posts") "Params.pinned" "!=" true -}}
{{ $posts := $posts | union (where (where .Site.RegularPages "Section" "posts") "Params.pinned" true) -}}
{{ $paginator := .Paginate $posts .Site.Params.paginateHome -}}
{{ .Scratch.Set "paginator" $paginator -}}

{{ if $paginator.HasNext }}
<link rel="next" href="{{ $paginator.Next.URL | absURL }}" />{{ end }}
{{ if $paginator.HasPrev }}
<link rel="prev" href="{{ $paginator.Prev.URL | absURL }}" />{{ end }}
{{ end }}

{{ define "header" }}
{{ $settingsGeneral := .Site.GetPage "/settings/general" -}}
{{ $settingsDesign := .Site.GetPage "/settings/design" -}}

{{ $headerStyle := "" -}}
{{ if $settingsDesign.Params.image -}}
{{ $headerStyle = print `background-image: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18)), url(`
$settingsDesign.Params.image `);` -}}
{{ else -}}
{{ $headerStyle = print `background-color: ` $settingsDesign.Params.color `;` -}}
{{ end -}}
<header class="site-header site-header-img">
	{{ partial "navigation.html" . }}
</header>
{{ end }}

{{ define "main" }}
{{ $settingsGeneral := .Site.GetPage "/settings/general" -}}
{{ $settingsDesign := .Site.GetPage "/settings/design" -}}
<main class="site-main mb-0">
	<div class="container-fluid px-4">
		<div class="row pb-5 main-container">
			<div class="col-12 col-md-6 d-flex flex-column mb-4 mb-md-0">
				<h1 class="font-aktivGrotesk font-bold titleSite pe-5 mt-3 mb-4 mb-md-0">{{ $settingsGeneral.Params.description | safeHTML }}
				</h1>
				<div class="mt-auto font-normal berufserfahrung">
					{{ range (where .Site.RegularPages "Section" "experience") }}
					{{ $page := . }}
					{{ if $page }}
					<h5>BERUFSERFAHRUNG</h5>
					{{ end }}
					{{ $pageSlug  := split $page "/" }}
					{{ $pageSlug := index $pageSlug 2 }}
					{{ $filePath := printf "/experience/%s" $pageSlug }}
					{{ $contentExperience := .Site.GetPage $filePath -}}
					<p class="mb-0">{{ $contentExperience.Params.title }} <img src="/img/right-arrow.png" width="auto" height="7px"> {{
						$contentExperience.Params.text }}</p>
					{{ end }}
				</div>
			</div>
			<div class="col-12 col-md-6 d-flex align-items-center">
				<img src="{{ $settingsDesign.Params.image }}" class="img-fluid img-front"/>
			</div>
		</div>
	</div>
	<div class="bgMainSecondary mt-5 w-100">
		<div class="container-md container-fluid px-3 px-sm-5 px-md-0 py-5 w-full">
			<h1 class="font-normal w-75">hi, i'm yael and i am an artist/designer who loves to create in my free time
			</h1>
			<div class="mt-4 w-75 mx-auto">
				<p class="font-normal w-100 w-md-75 mx-auto">if you're interested in my process of my designs or generally my
					art then head to my <a href="/portfolio">portfolio page</a></p>
			</div>
		</div>
	</div>
</main>
{{ end }}

{{ define "head_includes" }}
{{/* Used to redirect the user during Netlify sign up or log in. See also script in body_includes. */}}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{{ end }}

{{ define "body_includes" }}
{{/* Used to redirect the user during Netlify sign up or log in. See also script in head_includes. */}}
<script>
	if (window.netlifyIdentity) {
		window.netlifyIdentity.on("init", user => {
			if (!user) {
				window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/";
				});
			}
		});
	}
</script>
{{ end }}